<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Visualsearch with Datatables</title>
  <meta name="description" content="Example of how to use Visualsearch with Datatables">
  <meta name="author" content="Andrew Djoga">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/jquery.dataTables.css">
  <link rel="stylesheet" href="/stylesheets/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" href="/stylesheets/visualsearch-datauri.css">
  <link rel="stylesheet" href="/stylesheets/visualsearch.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
<div class="row-fluid">
  <div class="span12">
    <div class="box corner-all">
      <div class="box-header grd-white corner-top">
        <div class="header-control">
          <!--<a data-box="collapse"><i class="icofont-caret-up"></i></a>-->
          <!--<a data-box="close" data-hide="bounceOutRight">&times;</a>-->
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="box-body">

        <div class="page-header">
          <h1>管理員列表</h1>
        </div>
        <table class="table table-striped table-bordered responsive" id="main_table" >
          <thead>
          <tr>
            <th><%= "test" %></th>
            <th><%= "test2" %></th>
            <th><%= "test3" %></th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="jquery-latest.js"></script>
<script src="/javascripts/dependencies.js"></script>
<script src="/javascripts/visualsearch.js"></script>
<script src="/javascripts/jquery.dataTables.min.js"></script>
<script src="/javascripts/application.js"></script>
  
<script type="text/javascript">

    $(document).ready(function() {
        initDataTable();
    } );

    function initDataTable() {
        var mainTable;

        console.log("testing");

        if ($('#main_table').size() > 0) {

            mainTable = $('#main_table').dataTable({
                bFilter: false,
                bInfo: false,
                bLengthChange: false,
                bProcessing: true,
                bServerSide: true,
                iDisplayLength: 50,
                sAjaxSource: '/list.json'
            });

        }
        console.log("end testing");        
    }

</script>
</body>
</html>

